$primary: #4F7942;
$secondary: #000000;
$thirdary: #162227;
$light: #ffffff;
$muted: #bbbbbb;
$dark-border: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": #000000,
  "thirdary": $thirdary,
);

$enable-shadows: true;

@import "~bootstrap/scss/bootstrap";

.App {
  background-color: $secondary;
  font-family: "Lato";
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.nav-link,
.nav-item,
button {
  font-family: "Arvo" !important;
}
h4{
  color:#4F7942;
}
.nav-item .dropdown-item {
  font-family: "Lato" !important;
}

a:link {
  text-decoration: none;
}

a.simple-link {
  color: #7bff00;
  text-decoration: none;
}

a.simple-link:link {
  color: #7bff00;
  text-decoration: none;
}

a.simple-link:hover {
  cursor: pointer;
}

/* ===== NAV BAR ===== */

.navbar {
  background-color: $primary !important;
  z-index: 10000;
  min-height: 4rem;


  .navbar-brand img {
    max-width: 42px;
    padding-right: 10px;
  }

  .navbar-nav .dropdown-menu{background-color: #b9b9b9;}
  .navbar-brand {
    display: flex;
    span {
      color: $secondary;
      font-weight: 700 !important;
      margin-right: 0.5rem;
    }
    span.navbar-brand-subtitle {
      color: $light;
      font-weight: 350 !important;
    }
  }

  .nav-link {
    color: $secondary !important;
    margin-left: 20px;
    text-align: left;
  }

  .navbar-important a {
    text-align: left;
  }
  .navbar-important img {
    height: 1rem;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .navbar-panel {
    min-width: 20rem;
    margin-bottom: 0.5rem;
    .dropdown-item {
      width: auto;
      span {
        font-size: 0.85rem;
      }
    }
  }

  .navbar-toggler {
    border-color: $secondary !important;
    color: $secondary !important;
    background-color: $primary !important;
  }
}

/* ===== Socials ===== */
.socials {
  margin: 0 auto;
  .socials-button {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    padding: 0;
    .faicon {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: -2px;
    }
  }
  .socials-button-labelled {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: auto;
    margin: 1rem;
    padding: 0;
    .faicon {
      width: 2rem;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: -2px;
    }
    .inner-text {
      display: inline-block;
      margin-left: 0.2rem;
      font-size: 0.7rem;
    }
  }
}

.quick-actions {
  margin: 1rem auto;
  max-width: 52rem;
  .popup-button {
    margin-top: 1rem;
    width: auto;
    display: inline-flex;

    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
}

.masthead {
  padding-left: 1rem;
  padding-right: 1rem;
  background: $primary;
  color: $light;
  .title {
    max-width: 40rem;
    font-weight: bold;
    line-height: 150%;
  }
  .lead {
    max-width: 30rem;
    line-height: 170%;
    @media (max-width: 991px) {
      font-size: 1rem;
    }
  }
  .logo {
    width: 25rem;
    height: 25rem;
  }
  .logo-mobile {
    width: 70%;
    height: auto;
  }
}

.features {
  padding-left: 1rem;
  padding-right: 1rem;
  background: $secondary;

  h2 {
    @extend .text-primary;
    font-weight: bold;
    font-size: 3.5rem;
    @media (max-width: 991px) {
      font-size: 3rem;
    }
  }

  .subtitle {
    @extend .text-muted;
    margin-top: 0.5rem;
    display: block;
    font-size: 1.25rem;
    max-width: 60rem;
    @media (max-width: 991px) {
      font-size: 1rem;
    }
  }

  .cell {
    @extend .shadow-sm;
    border-color: $muted;
    padding: 2rem;
    width: 20rem;
    height: 15rem;
    background-color: lighten($secondary, 3%);
    .icon {
      font-size: 2rem;
      margin-right: 1rem;
      color: $primary;
    }

    &:hover {
      @extend .shadow;

      background-color: white;
    }

    transition: background-color 0.1s;
  }

  .cell-md {
    @extend .shadow-sm;
    border-color: $muted;
    height: 10.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: lighten($secondary, 3%);
    .icon {
      font-size: 2rem;
      margin-right: 1rem;
      color: $primary;
    }

    &:hover {
      @extend .shadow;

      background-color: white;
    }

    transition: background-color 0.1s;
  }

  .post-slide {
    background: lighten($secondary, 3%);
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
  }
  .post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
  }
  .post-slide:hover .post-img img {
    transform: scale(1.02, 1.02);
  }
  .post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(
      -45deg,
      rgba($secondary, 0.75) 0%,
      rgba($primary, 0.6) 100%
    );
    transition: all 0.5s linear;
  }
  .post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
  }
  .post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .post-slide .post-content {
    background: lighten($secondary, 3%);
    padding: 20px 20px 60px;
    border-radius: 15px;
  }
  .post-slide .post-title {
    font-size: 15px;
    font-weight: bold;
    color: #3498db;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  .post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
  }
  .post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
  }
  .post-slide .read-more {
    font-family: "Arvo";
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: $primary;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px $primary;
    border-radius: 25px;
    margin-left: 10px;
  }
  .post-slide .read-more:hover {
    background: darken($primary, 10%);
    text-decoration: none;
    color: #fff;
  }
  .owl-nav {
    text-align: center;
    margin-top: 20px;
  }
  .owl-nav .owl-prev {
    background: #fff;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(0, -50%);
    padding: 10px;
    transition: background 0.5s ease 0s;
    width: 25px;
  }
  .owl-nav .owl-next {
    background: #fff;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(0, -50%);
    padding: 10px;
    transition: background 0.5s ease 0s;
    width: 25px;
  }
  .owl-nav .owl-prev:after,
  .owl-nav .owl-next:after {
    content: "ᐸ";
    color: #333;
    font-size: 30px;
  }
  .owl-nav .owl-next:after {
    content: "ᐳ";
  }

  .owl-theme .owl-nav .disabled {
    display: none !important;
  }
}

.ecosystem {
  padding-left: 1rem;
  padding-right: 1rem;
  background: $secondary;

  h2 {
    @extend .text-primary;
    font-weight: bold;
    font-size: 3.5rem;
    @media (max-width: 991px) {
      font-size: 3rem;
    }
  }

  .card {
    @extend .shadow;
    @extend .rounded;
    @extend .border-light;

    color: #3498db;
    background: lighten($secondary, 3%);
    margin: 0 1.5rem 3rem 1.5rem;
    min-width: 20rem;
    padding: 1.5rem;
    width: 20rem;
    height: 20rem;
    @media (max-width: 991px) {
      margin: 0 0.75rem 1.5rem 0.75rem;
    }

    h3 {
      text-align: left;
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    span {
      @extend .text-muted;
      color: black;
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }

    button {
      @extend .border-2;
      @extend .rounded-pill;
      @extend .btn;
      @extend .btn-outline-primary;
      padding: 0;
      width: 5.5rem;
      margin-top: 1.5rem;
      font-size: 1.3rem;
    }

    .logo {
      @extend .ms-auto;
      color: $primary;
      font-size: 6rem;
    }

    &:hover {
      @extend .shadow-lg;
      background: $white;
      button {
        @extend :hover;
      }
    }

    transition: box-shadow 0.1s, background 0.1s;
  }
}

.wallets {
  background: black;

  h1 {
    font-size: 3.5rem;
    color: $primary;
    font-weight: bold;
    color:#4F7942;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $white;
    margin-bottom: 1rem;
    color:#4F7942;
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: $primary;
  }
  @media (max-width: 991px) {
    h1,
    h2,
    .subtitle {
      text-align: center;
    }
  }

  button {
    @extend .px-4;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
    color: $light;
    height: 6rem;
    width: 12rem;
    min-width: 8rem;


    @media (max-width: 991px) {
      margin: 0.5rem;
      width: 80vw;
      max-width: 80vw;
    }
    .btn-secondary:hover {
      color: #f9f7f4;
      background-color: #04c3ee;
      border-color: #5b288e;
    }
    .icon {
      @extend .mx-auto;
      font-size: 2rem;
      color: #7bff00;
    }
    span {
      margin-top: 0.3rem;
      font-size: 1.2rem;
      font-family: "Lato";
    }
  }
}

.community {
  background: black;

  h1 {
    font-size: 3.5rem;
    color: $primary;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $primary;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: $muted;
  }
  @media (max-width: 991px) {
    h1,
    h2,
    .subtitle {
      text-align: center;
    }
  }

  button {
    @extend .px-4;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
    color: $light;
    height: 6rem;
    width: 12rem;
    min-width: 8rem;


    @media (max-width: 991px) {
      margin: 0.5rem;
      width: 80vw;
      max-width: 80vw;
    }
    .btn-secondary:hover {
      color: #f9f7f4;
      background-color: #04c3ee;
      border-color: #5b288e;
    }
    .icon {
      @extend .mx-auto;
      font-size: 2rem;
      color: #7bff00;
    }
    span {
      margin-top: 0.3rem;
      font-size: 1.2rem;
      font-family: "Lato";
    }
  }
}

.projects {
  background: $secondary;

  h1 {
    font-size: 3.5rem;
    color: $primary;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    @extend .text-center;
    @extend .text-muted;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    text-align: center;
  }

  h2 {
    @extend .mt-5;
    @extend .mb-5;
    font-size: 2.5rem;
    color: $primary;
  }

  @media (max-width: 991px) {
    h1,
    h2,
    .subtitle {
      text-align: center;
    }
  }

  .cards-container {
    @extend .mb-5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem;
    justify-content: left;
    padding: initial;
  }

  .project-card {
    @extend .shadow-sm;
    display: list-item;
    list-style-type: none;
    text-align: center;
    height: 14rem;
    border-radius: 0.4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: lighten($secondary, 3%);
    border: 1px solid darken($secondary, 10%);

    @media (max-width: 991px) {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      margin-bottom: 0.5rem;
    }

    &:hover {
      @extend .shadow;
      cursor: pointer;
      background: white;
    }

    transition: box-shadow 0.1s linear, background 0.1s;
  }

  .develop {
    background: $primary;
    color: white;
    &:hover {
      @extend .shadow;
      cursor: pointer;
      background: lighten($primary, 5%);
      button {
        @extend :hover;
      }
    }

    button {
      @extend .border-2;
      @extend .rounded-pill;
      padding: 0;
      width: 6rem;
      height: 2.5rem;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      .icon {
        @extend .align-middle;
      }
    }
  }

  .project-card .logo-holder {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }

  .project-card .faicon {
    color: $primary;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .project-card.develop .faicon {
    color: white;
  }

  .project-card img {
    width: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .project-card button {
    margin-bottom: 1rem;
  }
}

.section-footer {
  padding: 1rem;
  background-color: $primary;
  span {
    color: $secondary !important;
  }
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: $primary;
  border-radius: 1rem;
  border-color: $primary !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: $primary !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

/* ===== PROJECTS ===== */

/* ===== WALLETS ===== */
.wallet-section {
  margin: 2rem auto;
  max-width: 30rem;
}
.wallet-section p {
  margin-bottom: 0.5rem;
}

.wallet-download {
  display: inline-block;
}
.wallet-download .faicon {
  color: $primary;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}



/* ===== ROADMAP ===== */

.timeline {
  border-left: 3px solid #2c3e50;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 5px 50px 0 50px;
  list-style: none;
  text-align: left;
  max-width: 60%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);

  text-align: right;
  font-weight: 900;
  font-size: 0.9em;
  min-width: 120px;
}

.timeline .eventcompleted {
  color: #000000;
}

.timeline .eventincomplete {
  color: #aaaaaa;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #2c3e50;
  box-shadow: 0 0 0 3px #2c3e50;
  left: -55.8px;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

.timeline .eventcompleted:after {
  background: #2c3e50;
}

.timeline .eventincomplete:after {
  background: #ffffff;
}

.card_main .card {
  border: 0;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.exchangesModalSection {
  text-align: center;
  margin: 1.5rem auto;
}

.exchangesModalSection img {
  height: 1.2rem;
  margin: 0rem auto !important;
  padding: 0 !important;
}

.exchangesModalSection button {
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0.5rem;
}

.exchangesModalSection .row {
  justify-content: center;
  a {
    width: auto;
  }
}

/* ===== Counter ===== */
.projectFactsWrap .item {
  text-align: center;
  padding: 1rem;
  margin: 0rem;
  width: 10rem;
}

.projectFactsWrap .item p.number {
  font-size: 1.5rem;
  padding: 0;
  img {
    display: inline-block;
    max-height: 2.5rem;
  }
}

.projectFactsWrap .item p {
  color: $primary;
  font-size: 1rem;
  margin: 0;
}

.projectFactsWrap .item span {
  width: 2.5rem;
  background: #3498db;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}

.marketplace-container {
  text-align: center;
  justify-content: center;
}

.marketplace-card {
  width: 15rem;
  margin: 1rem;
  .logo-holder {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
  .faicon {
    color: $primary;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  img {
    height: 5rem;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(229, 232, 235);
    border-radius: 50%;
  }
}

.privacy {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color:#3498db;
  }
  h6 {
    text-align: left;
    color:#3498db;
  }
  p {
    text-align: justify;
    margin-bottom: 3rem;
    color: #4F7942;
  }
  ul {
    margin-bottom: 0;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.min-height-fill {
  min-height: calc(100vh - 10.3rem);
}

.manifesto-images {
  img {
    height: 20rem;
    margin: 1rem;
  }
  text-align: center;
}

.roadtripmap-content {
  text-align: left;
  h4 {
    color:#3498db
  }
  p {
    text-align: justify;
    color:#4F7942;
  }
}

.nft-card {
  display: list-item;
  list-style-type: none;
  width: 15rem;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid $muted;
  border-radius: 0.4rem;

  &:hover,
  &:active {
    border: 1px solid $dark-border;
  }

  hr {
    margin: 0;
  }

  .header-box {
    min-width: 15rem;
    min-height: calc(15rem - 1.5px);
    position: relative;
    text-align: left;
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 50;
    }
    img {
      position: absolute;
      top: calc(50%);
      left: calc(50% - 1px);
      transform: translate(-50%, -50%);
      margin: 0;
      border: none;
      border-radius: 0.4rem;
      width: calc(100% - 1.5px);
      height: auto;
      background-color: white;
      z-index: 100;
    }
  }
  .card-title {
    font-size: 1rem !important;
    color: #000000;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.3rem;
  }
  .card-subtitle {
    font-size: 0.8rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text {
    margin-top: 0.9rem;
    text-align: center;
    line-height: 1.05;
    .card-price {
      color: $primary;
      font-size: 1.5rem;
      font-weight: 600 !important;
    }
    .card-price-subtitle {
      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  .card-sub-body {
    padding: 0.2rem 1rem;
    text-align: left;
    font-size: 0.9rem;
  }
}

.guide {
  font-size: 2rem;
  color: $primary;
}

.side-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  left: 0;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  top: 0;
  width: 100%;

  .control {
    position: absolute;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: $primary;
    border: 1px solid $muted;
    outline: none;
    box-shadow: none !important;
    z-index: 1000;
  }

  .float-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  .float-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  /* Horizontal scrolling/snapping styles */
  .scroll-off {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .scroll-on {
    scroll-snap-type: x mandatory;
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul {
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    margin: 0.25rem;
  }
  li.active {
    background: lightblue;
  }

  @media (max-width: 576px) {
    .scroll-on {
      padding-left: 8rem;
      padding-right: 8rem;
    }
    li {
      scroll-snap-stop: always;
      scroll-snap-align: center;
    }
  }
}

.inline-logo-holder {
  display: inline;
  padding-right: 0.25rem;
  height: 1rem;
  width: 1rem !important;
}

.modal-content {
  max-height: 80% !important;
}

.social-faucet-board {
  text-align: center;
  max-height: 25rem;
  overflow-y: auto;
  p {
    margin-bottom: 0;
  }
}
.table-yerbas {
  img {
    height: 1rem;
    width: 1rem;
    vertical-align: text-top;
  }
  span {
    white-space: nowrap;
  }
}

.social-faucet-table tbody .gold {
  background-image: linear-gradient(
    135deg,
    yellow,
    gold,
    yellow,
    gold,
    yellow,
    gold,
    yellow,
    gold
  );
  background-size: 1000% 1000%;
  animation: diagonalGrad 1s linear infinite;
}
.social-faucet-table tbody .silver {
  background-image: linear-gradient(
    135deg,
    silver,
    grey,
    silver,
    grey,
    silver,
    grey,
    silver,
    grey
  );
  background-size: 1000% 1000%;
  animation: diagonalGrad 4s linear infinite;
}
.social-faucet-table tbody .bronze {
  background-image: linear-gradient(
    135deg,
    #cd7f32,
    brown,
    #cd7f32,
    brown,
    #cd7f32,
    brown,
    #cd7f32,
    brown
  );
  background-size: 1000% 1000%;
  animation: diagonalGrad 8s linear infinite;
}
@keyframes diagonalGrad {
  0% {
    background-position: 2% 2%;
  }
  100% {
    background-position: 95% 95%;
  }
}

.social-faucet-instructions {
  text-align: left;
}
.FrontTitle{
  h1 {
    color:#4F7942
  }
  p {
  color:#3498db;
}

}
.container2{
  color: $primary;
}

.container3{
  color: black;
  background-color: white;
  width: fit-content;
  padding: 6px;
}

.divvid{
  padding: 5px;
  color:#3498db;

}
